<html>
<head>
<title>Flashcards</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="stylesheet" type="text/css" href="/static/profile.css" />
<link rel="stylesheet" type="text/css" href="/static/make_deck.css" />
<script src="/static/jquery-1.9.1.js"></script>
<script src="/static/profile.js"></script>
<script src="/static/make_deck.js"></script>
</head>
<body>
    <nav class = "topbar">
        <ul>
            <li class = "topbar-item" ><a href = "/">Home </a></li>
            <li class = "topbar-item" ><a href = "/profile">Dashboard</a></li>
            {% if edit == true %}
                <li class = "topbar-item" ><a id = "on-page">Edit Deck</a></li>
            {%else%}
                <li class = "topbar-item" ><a id = "on-page">Create Deck</a></li>
            {%endif%}
            <li class = "topbar-item" ><a href = "/view_decks">Manage Decks</a></li>
            <li class = "topbar-item" id = "logout-link"><a href = "/logout" id = "logout-link">Logout</a></li>
        </ul>
    </nav>
        
        <div id = "message">Hi {{fname}}! Hit 'Dashboard' to see more options. </div>
    

    {% if edit == true %}
        <div class = "welcome-message">You're now editing the deck: "{{deckTitle}}"!</div>
        <input type = "text" value = "{{deckTitle}}"id = "deck-title" placeholder = "Enter your deck title"/>
        <div id = "card-space">
            <div class = "column-title">Words</div>
            <div class = "column-title">Definitions</div>
        {% for i in range((cardData|length/2)|int) %}
            {%set frontKey = ["front", i]%}
            {%set backKey = ["back", i]%}
            <div class="card-row">
                <img src = "/static/img/x-icon.png" class = "exit-img">
                <textarea class = "card-text">{{cardData[frontKey|join]}}</textarea>
                <textarea class = "card-text">{{cardData[backKey|join]}}</textarea>
            </div>
        {%endfor%}
        </div>

        </div>
        <div id = "button-container">
            <div id = "undo-button">Undo Delete</div>
            <div id = "edit-submit" class = "submit-button" >Save Edits</div>
            <div id = "next-button">+ New Card</div>
            
        </div>
        

    {%else%}
    <div class = "welcome-message">Create your very own deck! </div>

    <input type = "text" id = "deck-title" placeholder = "Enter your deck title"/>
    <div id = "card-space">
        <div class = "column-title">Words</div>
        <div class = "column-title">Definitions</div>

        <div class="card-row">
            <img  src = "/static/img/x-icon.png" class = "exit-img">
            <textarea class = "card-text" ></textarea>
            <textarea class = "card-text"></textarea>
        </div>
        <div class="card-row">
            <img src = "/static/img/x-icon.png" class = "exit-img">
            <textarea class = "card-text"></textarea>
            <textarea class = "card-text"></textarea>
        </div>

    </div>
    <div id = "button-container">
        <div id = "undo-button">Undo Delete</div>
        <div id = "create-submit" class = "submit-button"> Create Deck</div>
        <div id = "next-button">+ New Card</div>
        
    </div>
    {%endif%}

   
</body>

</html>