/* Utility Stylesheets */

ul a:link {
    color: gray;
}
ul a:visited{
    color: gray;
}
ul a:hover {
    color: white;
}
.main-item a:visited {
    color: black;
}
.main-item a:hover {
    color: black;
}
.main-item a:link {
    color: black;
}
.topbar {
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 99;
    top: 0px;
    right: 0px;
    left: 0px;
    font-size: 16px;
}
.topbar ul {
    list-style: none;
    height: 100%;
}

.topbar-item {
    position: relative; 
    left: 15px;
    height: 100%;
    padding: 20px 0px 10px 0px;
    display: inline-block;
    margin-right: 80px;
    cursor: pointer;
    color: gray;
}

.topbar-item:hover {
    color: white;
}

#on-page{
    color: white;
}
a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
width: 100%;
}

.img-scaled-wh {
width: 100%;
height: 100%;
}

/* Freebies */

body {	/*the outer layer of the site and global style attributes*/
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
background: #edeae5;
}
.button-main {
      transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
    cursor: pointer;
    font-size: 18px;
    position: fixed;
    top: 610px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 3px;
    font-weight: 400;
    background-color: #43A4E0;
    width: 200px;
    padding: 10 20 10 20;
    color: white;

}
.button-main:hover {
    transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  background-color: #71BFF0;
  color: black;
}
#purpose {
    width: 680px;
    font-size: 20px;
    font-weight: 200;
    color: black;
    z-index: 99;
    letter-spacing: 3px;
    line-height: 175%;
    position: fixed;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#background {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}
#hero {
    position: absolute;
    color: black;
    top: 220px;
    right: 460px;
    text-align: right;
}
#subheading {
    font-size: 24px;
}
#heading {
    font-size: 75px;
    font-weight: 200;
    letter-spacing: 3px;
}
#container {
    position: absolute;
    width: 100%;
    height: 518px;
    top: 50%;
    margin-top: -269px;
}
#content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: hidden;
}

/* Question 1 */
.modal-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;

}

.modal-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.modal-box {
    width: 520px;
    height: 320px;
    background-color: #649BD9;
    position: absolute;
    z-index: 1000;
    margin: 0 auto;
    left: calc(50% - 250px);
    top: calc(50% - 130px);

}
.modal-header {
    margin: 15px 0px 15px 18px;
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
}

.modal-button {
    position: relative;
    left: 282px;
    background-color: white;
    color: #5485BB;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: 10px;

}
.modal-inputBox{
    position: relative;
    left: 19px;
    top: 10px;
    border: 5px solid white;
    padding: 10px;
    background: transparent;
    margin: 0px;
    margin-bottom: 20px;
    width: 460px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;

}
.modal-inputBox::-webkit-input-placeholder  {
    color: white;
}

.error {
    font-size: 18px;
    color: #FF0000;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    display: none;
}

#signup-modal-box {
    height: 580px;
    top: 140px;
}

#login-link{
    left: 1020px;
}

#signup-link {
    left: 1000px;
}

#logout-link {
    left: 620px;
}

#message {
    color: white;
    width: 250px;
    letter-spacing: 2px;
    position: fixed;
    z-index: 10000;
    top: 100px;
    font-size: 12px;
    right: 20px;
}

