#deck-title {
    width: 500;
    height: 50px;
    display: block;
    margin: 0 auto;
    padding-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    border-color: none;
    outline: none;
    font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.exit-img {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    cursor: pointer;
    height: 30px;
    position: absolute;
    left: 200px;
    top: 60px;

}

.exit-img-bright{
    cursor: pointer;
    height: 30px;
    position: absolute;
    left: 200px;
    top: 60px;
    display: none;

}

.welcome-message {
    margin-top: 150px;
    letter-spacing: 1px;
    font-size: 24px;
    text-align: center;
}

#deck-title:focus {
    border: 1px solid #0099FF;
}

.column-title {
    font-size: 24px;
    display: inline-block;
    margin-right: 150;
    margin-left: 150;
    letter-spacing: 1px;
}
#card-space {
    margin-top: 30px;
    text-align: center;
}
.card-row {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}
#message {
    color: black;

}

#next-button {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    display: inline-block;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 10 15 10 15;
    background-color: #FFC94A;
   
    color: white;
    font-size: 18px;
    width: 120px;
    border-radius: 2px;
    letter-spacing: 1px;
    text-align: center;
}

.card-text{
    overflow: hidden;
    height: 150px;
    padding: 8px;
    margin-right: 20px;
    width: 400px;
    font-size: 12px;
    letter-spacing: 1.5px;
    resize: none;
    outline: none;
    border-color: #D9D5D4;
}
.card-text:focus {
    border: 1px solid #0099FF;
}
#button-container {
   position: relative;
   left: 295px;

}
#submit-button {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    display: inline-block;
    margin: 20 130 30 auto;
    cursor: pointer;
    padding: 10 30 10 30;
    background-color: #5CE6B8;
    color: white;
    font-size: 18px;
    width: 200px;
    border-radius: 2px;
    letter-spacing: 1px;
    text-align: center;
}

#undo-button {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    cursor: pointer;
    display: inline-block;
    margin-right: 130;
    padding: 10 15 10 15;
    font-size: 18px;
    width: 120px;
    color: white;
    text-align: center;
    border-radius: 2px;
     background-color: #39ADFA;

}

#undo-button:hover{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    color: black;
    background-color: #54BBFF;
}

#submit-button:hover {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    background-color: #6EF0C5;
    color: black;

}

#next-button:hover {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    color: black;
    background-color: #FFD77A;
   
}

.exit-img:hover {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    height:35px;

}



